

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1342px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    .book_room h1 {
        font-size: 28px;
    }
    .carousel-indicators {
        bottom: 17px;
    }
    .about_img {
        margin-right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        margin: 0 10px;
    }
    .carousel-item img {
        min-height: 570px;
    }
    .book_room h1 {
        font-size: 19px;
    }
    .carousel-indicators {
        bottom: 27px;
    }
    .about_img {
        margin-right: 0px;
    }
    .book_btn {
        padding: 5px 0;
    }
}

