html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-ellipsis {
    white-space: nowrap; /* Không cho phép xuống dòng */
    overflow: hidden; /* Ẩn phần nội dung vượt quá khung */
    text-overflow: ellipsis; /* Hiển thị dấu ... khi bị cắt */
}
.form-group{
    margin: 10px 0;
}

.total-amount {
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: #dc3545;
}