<div class="container my-5">
    <h1 class="text-center mb-4">Danh sách đặt phòng</h1>
    <table id="bookingsTable" class="table table-striped table-bordered pt-5" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>STT</th>
                <th>Loại phòng</th>
                <th>Khu vực</th>
                <th>Ngày nhận phòng</th>
                <th>Ngày trả phòng</th>
                <th>Trạng thái</th>
                <th>Phương thức thanh toán</th>
                <th>Tổng tiền</th>
                <th>Ngày đặt phòng</th>
                <th>Chức năng</th>
            </tr>
        </thead>
    </table>
</div>